# ImGui last known location and information
imgui.ini

# Visual Studio Code specific files and folders
.vscode

# Linux specific files
Makefile
tags

# Folders containing compiled code
bin
bin-int
out

# Visual Studio specific files and directories
.vs
*.sln
*.vcxproj
*.vcxproj.*
